html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

ul,
ol{
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  color: #242121;
  letter-spacing: 0.3px;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}
