html{
  box-sizing: border-box;
}
*,
*::after,
*::before{
  box-sizing: inherit;
}
a,
li{
  text-decoration: none;
  list-style-type: none;
  color: #000000;
}
ul,
ol{
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  color: #242121;
  letter-spacing: 0.3px;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
.header-nav__list{
  display: flex;
  justify-content: space-between;
  order: -1;
}
.header-wramper{
  background: #3b3b3d;
  border-bottom: 1px solid #ffffff;
}
.header-nav{
  display: flex;
  margin-left: auto;
  padding: 20px;
  max-width: 350px;
}
.header-nav__list-item + .header-nav__list-item{
  padding-left: 25px;
}
.header-nav__list-item{
  text-decoration: none;
}
.header-nav__list-link{
  transition: all 0.5s;
}
.header-nav__list-link:hover{
  color: #829611;
  transition: all 0.5s;
}
.header-nav__list-link{
  color: #ffffff;
}
.main{
  font-family: 'Belanosima', sans-serif;
}
.wramper{
  display: flex;
}
.additional{
  background-color: #3b3b3d;
  color: #ffffff;
  min-width: 480px; 
}
.additional h3{
  text-transform: uppercase;
  color: #ffffff;
  font-size: 26px;
}
.additional h6{
  color: #ffffff;
}
.additional-contact__addres-info{
  font-size: 16px;
}
.additional-foto{
  display: flex;
  justify-content: center;
  width: 310px;
  height: 310px;
  margin: 30px auto 0;
}
.additional-foto__img{
  width: 310px;
  object-fit: cover;
  display: block;
  border-radius: 50%;
}
.additional-contact{
  margin-top: 140px; 
  padding-left: 50px; 
}
.additional-contact__title{
  position: relative;
  padding-bottom: 20px;
}
.additional-contact__title::after,
.additional-skills__title::after,
.additional-follow__title::after{
  position: absolute;
  content: '';
  left: 28px;
  bottom: 0;
  height: 2px;
  width: calc(100% - 28px);
  background-color: #ffffff;
}
.additional-contact__addres{
  font-size: 18px;
  padding-top: 20px;
}
.additional-contact__addres-info{
  font-size: 18px;
  margin-top: 0;
}
.additional-skills{
  margin-top: 80px; 
  padding-left: 50px; 
  margin-bottom: 80px;
}
.additional-skills__title{
  position: relative;
  padding-bottom: 20px;
}
.additional-skills__title span{
  text-transform: none;
  font-size: 16px;
}
.additional-skills h3,
.additional-skills div{
  text-transform: uppercase;
}
.additional-skills__html,
.additional-skills__css,
.additional-skills__js{
  position: relative;
  margin-right: 50px;
  padding-bottom: 30px;
}
.additional-skills__html::before,
.additional-skills__css::before,
.additional-skills__js::before{
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #6d6e70;
}
.additional-skills__html::after,
.additional-skills__css::after,
.additional-skills__js::after{
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  height: 10px;
  background-color: #ffffff;
}
.additional-skills__html::after{
  width: calc(100% - 10%);
}
.additional-skills__css::after{
  width: calc(100% - 20%);
}
.additional-skills__js::after{
  width: calc(100% - 80%);
}
.additional-skills__html{
  padding-top: 20px;
}
.additional-skills div + div{
  margin-top: 50px;
}
.additional-follow{
  margin-left: 50px;
  margin-bottom: 80px;
  color: #ffffff;
}
.additional-follow__title{
  position: relative;
  padding-bottom: 20px;
}
.additional-follow__vk{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  margin-bottom: 0;
}
.additional-follow__vk-ref{
  font-family: 'Belanosima', sans-serif;
  font-size: 16px;
  margin-top: 0;
}
.cv h1, 
.cv h3, 
.cv p{
  color: #3b3b3d;
}
.cv-name{
  display: flex;
  flex-direction: column;
  margin: auto 0;
  padding: 200px 0 200px 100px;
}
.cv-name__title{
  font-weight: 600;
  font-size: 48px;
  letter-spacing: 13px;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.cv-name__prof{
  letter-spacing: 7px;
  text-transform: uppercase;
}
.cv h3{
  text-transform: uppercase;
}
.cv-education,
.cv-code,
.cv-about,
.cv-language{
  font-size: 20px;
  text-transform: uppercase;
  padding: 0 60px;
  margin-bottom: 60px;
}
.cv-education__title,
.cv-about__title,
.cv-code__title,
.cv-language__title{
  position: relative;
  padding-bottom: 15px;
  padding-left: 20px;
}
.cv-education__title::after,
.cv-about__title::after,
.cv-code__title::after,
.cv-language__title::after{
  position: absolute;
  content: '';
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #6d6e70;
}
.cv-education__item{
  display: flex;
}
.cv-education__item-main{
  max-width: 240px;
  width: 100%;
  text-transform: none;
}
.cv-education__item-info{
  max-width: 100%;
}
.cv-education__item-description{
  font-size: 16px;
  text-transform: none;
}
.cv-about{
  font-size: 20px;
  text-transform: uppercase;
  padding: 0 60px;
  margin-bottom: 60px;
}
.cv-about__info{
  text-transform: none;
  font-size: 18px;
}
.cv-code__example{
  text-transform: none;
}
.cv-code__example p{
  margin: 0;
}
.footer-info{
  background-color: #3b3b3d;
  color: #ffffff;
  text-transform: uppercase;
  border-top: 1px solid #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}
.footer-info__img{
  width: 130px;
}
.footer-info__git-link{
  color: #ffffff;
  font-size: 20px;
}
.footer-info__git-year{
  margin: 0;
  font-size: 16px;
}
